Repository tilschuenemann/ledger-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

chore: bump version to 0.1.2
  pyproject.toml
Due: check-toml

build: update pandas to 2.03
  poetry.lock
  pyproject.toml
Due: check-toml

chore: bump to 0.1.3
  pyproject.toml
Due: check-toml

feat: split update and import
  src/ledgercli/cli.py
  src/ledgercli/main.py
  tests/test_ledger.py
Due: black

fix: na_rep defaults
  src/ledgercli/main.py
Due: black

fix: update coalesce for empty, non-nan values
  src/ledgercli/main.py
Due: black

build: update deps
  poetry.lock
Due: none

build: update reqs /docs
  docs/requirements.txt
Due: none

build: update ci deps
  .github/workflows/constraints.txt
Due: none

fix: update docstring
  src/ledgercli/main.py
Due: black

chore: bump to 0.1.4
  pyproject.toml
Due: check-toml

build: update ci deps
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml

build: update deps (#110)
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  src/ledgercli/main.py
Due: black, check-toml, check-yaml

build: update ci deps
  .github/workflows/constraints.txt
  .github/workflows/release.yml
Due: check-yaml

build: update poetry deps
  poetry.lock
Due: none

build: update ci deps
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml

build: update doc deps
  docs/requirements.txt
Due: none

build: update workflow deps
  .github/workflows/constraints.txt
Due: none

ci: update artifact name
  .github/workflows/tests.yml
Due: check-yaml

ci: update artifact download
  .github/workflows/tests.yml
Due: check-yaml

feat: better dict readability
  src/ledgercli/main.py
Due: black

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
